<div class="row">
    <div class="col-12">
        <form [formGroup]="hotelModel" class="form-horizontal" (ngSubmit)="updateHotel(hotelModel.value)">
          <input type="hidden" formControlName="id"/>
          <input type="hidden" formControlName="version"/>
            <fieldset>
                <label for="name" class="col-2">Name</label>
                <div class="col-6">
                    <input class="form-control" placeholder="Name" formControlName="name"/>
                    <span [hidden]="!hotelModel.hasError('required', 'name')">Name is required..</span>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label for="address" class="col-2">Address</label>
                    <div class="col-6">
                        <input class="form-control" placeholder="Address" formControlName="address"/>
                        <span [hidden]="!hotelModel.hasError('required', 'address')">Address is Required..</span>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label for="zip" class="col-2">Zip</label>

                    <div class="col-6">
                        <input class="form-control" placeholder="Zip" formControlName="zip"/>
                       <span [hidden]="!hotelModel.hasError('required', 'zip')">Zip is required..</span>
                    </div>
                </div>
            </fieldset>

            <input type="submit" class="btn btn-primary" value="Submit"/>
            <a [routerLink]="['/list']">List Hotels</a>
        </form>
    </div>
</div>
