<div class="row">
    <div class="col-12">
        <form class="form-horizontal" ngForm #f="ngForm" (ngSubmit)="createHotel()">
            <fieldset>
                <label for="name" class="col-2">Name</label>

                <div class="col-6">
                    <input class="form-control" placeholder="Name" [(ngModel)]="hotel.name" name="name" required/>
                </div>

            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label for="address" class="col-2">Address</label>

                    <div class="col-6">
                        <input class="form-control" placeholder="Address" [(ngModel)]="hotel.address" name="address" required/>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label for="zip" class="col-2">Zip</label>

                    <div class="col-6">
                        <input class="form-control" placeholder="Zip" [(ngModel)]="hotel.zip" name="zip" required/>
                    </div>
                </div>
            </fieldset>


            <input type="submit" class="btn btn-primary" value="Submit"/>
            <a [routerLink]="['/list']">List Hotels</a>
        </form>
    </div>
</div>
